<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <span class="navbar-item is-bold">
        {{ domain }}
      </span>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end" *ngIf="authData$ | async">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Switch tunnel
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Tunnel #1
          </a>
          <hr class="navbar-divider" />
          <a class="navbar-item">
            Create a tunnel
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-small">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end" *ngIf="!(authData$ | async)">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-primary is-small">
            <strong>Login</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
