<div *ngIf="message.Response as response">
  <h3>Response</h3>

  <mat-tab-group>
    <mat-tab label="Pretty" *ngIf="response.Body">
      <app-prettier [headers]="response.Headers" [body]="response.Body"></app-prettier>
    </mat-tab>
    <mat-tab label="Body" *ngIf="response.Body">
      {{ response.Body }}
    </mat-tab>
    <mat-tab label="Headers">
      <app-headers [headers]="response.Headers"></app-headers>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-divider></mat-divider>
<div *ngIf="message.Request as request">
  <h3>Request</h3>

  <mat-tab-group>
    <mat-tab label="Pretty" *ngIf="request.Body">
      <app-prettier [headers]="request.Headers" [body]="request.Body"></app-prettier>
    </mat-tab>
    <mat-tab label="Body" *ngIf="request.Body">
      {{ request.Body }}
    </mat-tab>
    <mat-tab label="Headers">
      <app-headers [headers]="request.Headers"></app-headers>
    </mat-tab>
  </mat-tab-group>
</div>
