<div class="field is-grouped">
  <p class="control">
    <button class="button is-small is-light" (click)="expandAll()">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span>Expand all</span>
    </button>
  </p>
  <p class="control">
    <button class="button is-small is-light" (click)="collapseAll()">
      <span class="icon">
        <i class="fas fa-minus"></i>
      </span>
      <span>Collapse all</span>
    </button>
  </p>
  <p class="control has-icons-left">
    <input class="input is-small" type="text" placeholder="search..." [(ngModel)]="filterQuery" />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </p>
</div>

<table class="table is-hoverable">
  <tbody>
    <tr
      *ngFor="let row of jsonRows | jsonFilter: filterQuery | expandedNodes: collapsedPaths"
      [attr.data-path]="row.path"
    >
      <td
        [style.padding-left.px]="row.depth * 20"
        [class.expandable]="row.value === undefined"
        (click)="toogleExpanded(row.path)"
      >
        <span class="icon" *ngIf="row.value === undefined">
          <i class="fas" [ngClass]="{ 'fa-minus': row.expanded, 'fa-plus': !row.expanded }"></i>
        </span>
        <span [class.is-propKey]="row.value !== undefined" class="color--key">{{ row.key }}:</span>
      </td>
      <td>
        <span [ngClass]="'color--' + typeOf(row.value)">
          {{ typeOf(row.value) === 'string' ? '"' + row.value + '"' : row.value }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
